#########################################################################################
# Code Ownership for eslint-config-tree
#   All files owned by tw-gold (but really Clif)
#
# See https://help.github.com/en/articles/about-code-owners for information on how to use
#########################################################################################

*   @fs-webdev/tw-gold
